.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%; /* Take the full width of the container */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    max-width: 300px; /* Maximum width of the form (adjust as needed) */
    margin: 0 auto; /* Center the form horizontally */
}

.form-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-box {
    padding: 8px;
    margin-bottom: 10px; /* Add margin to the bottom for spacing */
    border: 1px solid #ccc; /* Add border to input boxes */
    border-radius: 4px; /* Round the corners of the input boxes */
}

.submit-button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.submit-button:hover {
    background-color: #45a049;
}

/* Responsive design */
@media (max-width: 768px) {
    .Login {
        padding: 10px;
    }
    form {
        max-width: 90%; /* Allow form to be more fluid on smaller screens */
    }
}
